//-Core Assurance
mj-wrapper(background-color="#fbfbfb" padding="20px 30px")
    mj-section(padding="0")
        mj-column 
            mj-button(background-color="#d9cae7" color="#0D364F" font-size="16px" font-family="Roboto, Arial, Helvetica, sans-serif" padding="10px 25px" border-radius="10px" text-transform="uppercase") parcours en apprentissage
            mj-image(padding="0" width="600px" src="https://i.ibb.co/mFvXTJL6/form-Assurance122025.png" alt="")/
            mj-spacer(height="30px")
            mj-text(padding="0" align="center" mj-class="T20-300" color="#0D364F") Partageons un moment
            mj-text(padding="0" align="center" mj-class="T20-300" color="#0D364F") d'#[span(style="font-weight:700") Information] et de #[span(style="font-weight:700") Convivialité]
            mj-spacer(height="10px")
            mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Mardi&nbsp;17&nbsp;février #[span(style="font-weight:300;") 11h&nbsp;à&nbsp;14h]
            mj-text(padding="0" align="center" mj-class="T16-700" color="#0D364F") Ecosup&nbsp;Campus - Tourcoing
            mj-spacer(height="30px")
    mj-section(padding="10px" background-color="#d9cae7" border-radius="15px")
        mj-column(width="100%")
            mj-text(padding="0" align="center" mj-class="T16-700" color="#0D364F" text-transform="uppercase") Au programme
            mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T20-300" color="#0D364F") découvrir, échanger, se projeter.
        mj-column(padding="0 10px" vertical-align="top" width="50%")
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-700" color="#0D364F" text-transform="uppercase") &nbsp;Information
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Conférence métier,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Présentation du parcours,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Spéculations,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Entreprises partenaires,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Marché de l'emploi.
        mj-column(padding="0 10px" vertical-align="top" width="50%")
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-700" color="#0D364F" text-transform="uppercase") Convivialité
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") Place au cocktail déjeunatoire une moment pour discuter et pour toutes vos questions.
mj-section(padding="0px 30px" padding-bottom="30px" background-color="#fbfbfb")
        mj-column
            mj-text(padding="0" align="center" mj-class="T16-400" color="#0D364F") Places limitées, #[span(style="font-weight:700") inscription obligatoire]
            mj-button(href="#" background-color="#e60202" color="#ffffff" font-size="16px" font-family="Roboto, Arial, Helvetica, sans-serif" padding="10px 25px" border-radius="10px" text-transform="uppercase") Je m'inscris !