//-Logo Ecosup Assurance
mj-section(background-color="#fbfbfb" padding="20px")
    mj-column
        mj-image(padding="0" align="center" width="153px" src="https://i.ibb.co/JR4j5txp/assurance-Logo.png" alt="logo Ecosup Assurance")/
//-Images Assurance
mj-section(padding="0 5px" padding-bottom="20px" background-color="#fbfbfb")
    mj-group(width="50%")
        mj-column(width="50%" padding="5px")
            mj-image(padding="0" align="right" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/dw5jB9Bp/assurance02-Jpo29012026.png" alt=".")/
        mj-column(width="50%" padding="5px")
            mj-image(padding="0" align="left" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/TB9zmkYh/assurance02.png" alt=".")/
    mj-group(width="50%")
        mj-column(width="50%" padding="5px")
            mj-image(padding="0" align="right" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/TxJ6rkCg/assurance01.png" alt=".")/
        mj-column(width="50%" padding="5px")
            mj-image(padding="0" align="left" fluid-on-mobile="true" width="300px" src="https://i.ibb.co/4g39KfM9/assurance01-Jpo29012026.png" alt=".")/
//-Slogan
mj-section(padding="0 30px" background-color="#fbfbfb")
    mj-column
        mj-text(padding="0" padding-top="14px" align="center" mj-class="T36-700" color="#0D364F" text-transform="uppercase" letter-spacing="1px") Assurez votre avenir
        mj-text(padding="0" align="center" mj-class="T24-300" color="#0D364F" letter-spacing="1px") avec #[span(style="font-weight:700") Ecosup] Assurance