//-Core AEPE
mj-wrapper(background-color="#fbfbfb" padding="40px 30px" padding-top="0")
    mj-section(padding="20px 0")
        mj-column(width="35%" padding="10px" padding-bottom="20px" vertical-align="top")
            mj-raw
                img(src="https://i.ibb.co/bjNM9dLY/christian24012026.png" alt="Photo de Christian Annaloro, responsable pédagogique du pôle Assurance et Banque" width="100px" style="margin:0 auto;display:block;box-shadow:4px 4px 14px rgba(0,0,0,0.75);border-radius:50%;")/
            mj-text(padding="0" padding-top="10px" align="center" mj-class="T13-700" color="#0D364F") Christian #[span(style="text-transform:uppercase") Annaloro]
            mj-text(padding="0" align="center" mj-class="T13-400" color="#0D364F") Responsable pédagogique
            mj-text(padding="0" align="center" mj-class="T13-400" color="#0D364F") Pôle Assurance et Banque
        mj-column(width="65%" vertical-align="bottom") 
            mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") #[span(style="font-size:24px;line-height:24px;") &#128197;] Jeudi&nbsp;29&nbsp;janvier #[span(style="font-weight:300;") 17h&nbsp;à&nbsp;19h]
            mj-text(padding="0" align="center" mj-class="T18-700" color="#0D364F") #[span(style="font-size:22px;line-height:22px;") &#128205;] Ecosup&nbsp;Campus #[span(style="font-weight:300;") Tourcoing]
            mj-spacer(height="20px")
            mj-text(padding="0" mj-class="T16-400" color="#0D364F") #[span(style="font-weight:700") Ecosup Assurance] t'accueille à l'occasion de sa #[span(style="font-weight:700") Soirée Portes Ouvertes] pour t'accompagner sur tes choix d'orientation et donner forme à un projet qui te ressemble.
    mj-section(padding="20px 10px" background-color="#d9cae7" border-radius="15px")
        mj-column(width="100%")
            mj-text(padding="0" align="center" mj-class="T16-700" color="#0D364F" text-transform="uppercase") Au programme&nbsp;:
            mj-text(padding="0" padding-bottom="10px" align="center" mj-class="T20-300" color="#0D364F") découvrir, échanger, se projeter.
        mj-column(padding="10px" vertical-align="top" width="40%")
            mj-image(padding="0" align="center" border-radius="2px" width="480px" src="https://i.ibb.co/60nnPRSr/new-Affiche-JPO.png" alt="Affiche de la JPO du 29 janvier 2026 - 17h à 19h")/
        mj-column(padding="0 10px" width="60%")
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") Tu pourras #[span(style="font-weight:700") visiter le campus], découvrir nos locaux et t'immerger dans l’univers de la #[span(style="font-weight:700") Banque], de l'#[span(style="font-weight:700") Assurance] et de l'#[span(style="font-weight:700") Entreprise].
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") Cette soirée est aussi l’occasion d’#[span(style="font-weight:700") échanger avec l’équipe pédagogique]&nbsp;: parler des formations, des débouchés #[span(style="font-style:italic") (cabinets de courtage, sociétés d'assurances, banques de réseau…)] et de l’#[span(style="font-weight:700") alternance].
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") Le moment idéal pour #[span(style="font-weight:700") poser toutes tes questions] et #[span(style="font-weight:700") obtenir des conseils personnalisés] sur ton orientation et tes démarches.
    mj-section(padding="20px 0" padding-bottom="0")
        mj-column
            mj-text(padding="0" mj-class="T16-400" color="#0D364F") Parce qu’une #[span(style="font-weight:700") Soirée Portes Ouvertes], c’est passer de l'hésitation à la concrétisation de son avenir. Rendez-vous ce jeudi chez #[span(style="font-weight:700") Ecosup Assurance].