//-Header Assurance
mj-section(background-color="#32245e" padding="10px 20px")
    mj-column
        mj-image(padding="0" align="left" width="153px" src="https://i.ibb.co/bP0LZ5M/logo-Assurance-Blanc.png" alt="logo Ecosup Assurance.")/
mj-section(padding="0" background-color="#fbfbfb")
    mj-group(width="50%")
        mj-column(width="50%")
            mj-image(padding="0" align="right" width="300px" fluid-on-mobile="true" src="https://i.ibb.co/4g39KfM9/assurance01-Jpo29012026.png" alt="Assurance : protection de la maison et des biens immobiliers")/
        mj-column(width="50%")
            mj-image(padding="0" align="left" width="300px" fluid-on-mobile="true" src="https://i.ibb.co/svBRKzf9/assurance03-Jpo29012026.png" alt="Nos apprentis chez AXA")/
    mj-group(width="50%")
        mj-column(width="50%")
            mj-image(padding="0" align="right" width="300px" fluid-on-mobile="true" src="https://i.ibb.co/dw5jB9Bp/assurance02-Jpo29012026.png" alt="Assurance : protection de toute la famille.")/
        mj-column(width="50%")
            mj-image(padding="0" align="left" width="300px" fluid-on-mobile="true" src="https://i.ibb.co/JRBhX02w/assurance04-Jpo29012026.png" alt="Participation au challenge JC Courtage")/
mj-section(padding="30px" padding-bottom="0px" background-color="#fbfbfb")
    mj-column(width="80%")
        mj-text(padding="0" align="center" mj-class="T24-700" color="#0D364F" letter-spacing="1px") Tu t'intéresses aux métiers de l'assurance, de la gestion des risques et de la relation client&nbsp;?