//-Core Assurance
mj-wrapper(background-color="#fbfbfb" padding="20px 30px")
    mj-section(padding="0")
        mj-column 
            mj-button(background-color="#d9cae7" color="#0D364F" font-size="16px" font-family="Roboto, Arial, Helvetica, sans-serif" padding="10px 25px" border-radius="10px" text-transform="uppercase") parcours en apprentissage
            mj-image(padding="0" width="600px" src="https://i.ibb.co/mFvXTJL6/form-Assurance122025.png" alt="Graphique des formations Bts, Bachelor et Mastère en Assurance et Banque chez Ecosup-Assurance" href="https://ecosup-assurance.fr")/
            mj-spacer(height="30px")
            mj-text(padding="0" align="center" mj-class="T20-300" color="#0D364F") Partageons un moment
            mj-text(padding="0" align="center" mj-class="T20-300" color="#0D364F") d'#[span(style="font-weight:700") Information] et de #[span(style="font-weight:700") Convivialité]
            mj-spacer(height="10px")
            mj-text(padding="0" align="center" mj-class="T20-700" color="#0D364F") Mardi&nbsp;17&nbsp;février #[span(style="font-weight:300;") 11h&nbsp;à&nbsp;14h]
            //-mj-text(padding="0" align="center" mj-class="T16-700" color="#0D364F") Ecosup&nbsp;Campus - Tourcoing
            mj-image(src="https://i.ibb.co/7Jpj8Pdv/calendar17-09022026.png" alt="icon calendrier" width="60px" padding="0")/
            mj-spacer(height="20px")
    mj-section(padding="10px" background-color="#d9cae7" border-radius="15px 15px 0 0")
        mj-column(width="100%")
            mj-text(padding="0" align="center" mj-class="T16-700" color="#0D364F" text-transform="uppercase") Au programme
            mj-text(padding="0" padding-bottom="20px" align="center" mj-class="T20-300" color="#0D364F") découvrir, échanger, se projeter.
        mj-column(padding="0 10px" vertical-align="top" width="50%")
            mj-image(padding="10px" width="300px" src="https://i.ibb.co/nXBwdfC/Information01-H.png" alt="")/
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-700" color="#0D364F" text-transform="uppercase") &nbsp;Information
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Conférence métier,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Présentation du parcours,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Spécialisations,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Entreprises partenaires,
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") &#9679;&nbsp;&nbsp;Marché de l'emploi.
        mj-column(padding="0 10px" vertical-align="top" width="50%")
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-700" color="#0D364F" text-transform="uppercase") Convivialité
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-400" color="#0D364F") Place au cocktail déjeunatoire une moment pour échanger et pour répondre à toutes vos questions.
            mj-image(padding="10px" width="300px" src="https://i.ibb.co/4n3PKZsb/convivialite01-H.png" alt="")/
    mj-section(padding="30px" background-color="#fbfbfb")
        mj-column
            mj-text(padding="0" align="center" mj-class="T16-400" color="#0D364F") Places limitées, #[span(style="font-weight:700") inscription obligatoire]
            mj-button(href="https://forms.gle/27XJCVXVGx9Vd73d8" background-color="#e60202" color="#ffffff" font-size="16px" font-family="Roboto, Arial, Helvetica, sans-serif" padding="10px 0" border-bottom="6px solid #F0F4F2" border-right="6px solid #f0f0f0" border-radius="50px" text-transform="uppercase") Je m'inscris !
    mj-section(padding="10px" background-color="#d9cae7" border-radius="0 0 15px 15px")
        mj-column(width="100%")
            mj-text(padding="0" padding-bottom="10px" mj-class="T16-700" color="#0D364F" text-transform="uppercase") Avec la participation de :
        mj-group(width="50%")
            mj-column(width="50%" padding="5px")
                mj-raw
                    img(src="https://i.ibb.co/bjNM9dLY/christian24012026.png" alt="Photo de Christian Annaloro, responsable pédagogique du pôle Assurance et Banque" width="100px" style="margin:0 auto;display:block;box-shadow:4px 4px 14px rgba(0,0,0,0.75);border-radius:50%;")/
                mj-text(padding="0" padding-top="10px" align="center" mj-class="T13-700" color="#0D364F") Christian #[span(style="text-transform:uppercase") Annaloro]
                mj-text(padding="0" align="center" mj-class="T13-400" color="#0D364F") Responsable du pôle Assurance et Banque    
            mj-column(width="50%" padding="5px")
                mj-raw
                    img(src="https://i.ibb.co/s9xQJYP2/nordine-Frid.png" alt="" width="100px" style="margin:0 auto;display:block;box-shadow:4px 4px 14px rgba(0,0,0,0.75);border-radius:50%;")/
                mj-text(padding="0" padding-top="10px" align="center" mj-class="T13-700" color="#0D364F") Nordine #[span(style="text-transform:uppercase") Frid]
                mj-text(padding="0" align="center" mj-class="T13-400" color="#0D364F") Expert de l'Assurance   
        mj-group(width="50%")
            mj-column(width="50%" padding="5px")
                mj-raw
                    img(src="https://i.ibb.co/60xnbpSS/claire-Barbier.png" alt="" width="100px" style="margin:0 auto;display:block;box-shadow:4px 4px 14px rgba(0,0,0,0.75);border-radius:50%;")/
                mj-text(padding="0" padding-top="10px" align="center" mj-class="T13-700" color="#0D364F") Claire #[span(style="text-transform:uppercase") Badier]
                mj-text(padding="0" align="center" mj-class="T13-400" color="#0D364F") Notaire au sein d'Efficience
            mj-column(width="50%" padding="5px")
                mj-raw
                    img(src="https://i.ibb.co/5W6CDNzz/nicolas-Barbier.png" alt="" width="100px" style="margin:0 auto;display:block;box-shadow:4px 4px 14px rgba(0,0,0,0.75);border-radius:50%;")/
                mj-text(padding="0" padding-top="10px" align="center" mj-class="T13-700" color="#0D364F") Nicolas #[span(style="text-transform:uppercase") Barbier]
                mj-text(padding="0" align="center" mj-class="T13-400" color="#0D364F") Gestionnaire de patrimoine au CIC
mj-section(padding="0px 30px" padding-bottom="30px" background-color="#fbfbfb")
        mj-column
            mj-text(padding="0" align="center" mj-class="T16-400" color="#0D364F") #[span(style="font-weight:700") Ecosup] Assurance, une école du réseau #[span(style="font-weight:700") ESA]
            mj-image(src="https://i.ibb.co/sJCtDXM/logo-ESAjpo12142024.png" alt="Logo ESA Ecole Supérieure d'Assurances" width="60px" padding="10px")/