extends templates/_layout
block content
    mj-section(padding="0")
        mj-column
            mj-text(align="center") #[a(style='color:#3f495a;font-size:10px;font-weight:500;line-height:12px' href='{{mirror}}') Voir la version en ligne] &nbsp;&nbsp;|&nbsp;&nbsp; #[a(style='color:#3f495a;font-size:10px;font-weight:500;line-height:12px;' href='{{ unsubscribe }}') Se&nbsp;désinscrire&nbsp;de&nbsp;la&nbsp;liste&nbsp;de&nbsp;diffusion]